@use "sass:math";
@use "sass:color";
@use "media";
@use "theme_variables";

/* ----------------------------------

  Want a new theme? Add your new theme variables here!

---------------------------------- */

@mixin theme($name,
  $body-background-color,
  $wrapper-background-color,
  $wrapper-mobile-background-color,
  $wrapper-color,
  $item-a-color,
  $item-a-visited-color,
  $header-background-color,
  $subtext-color,
  $secondary-link-color,
  $logo-inner-color,
  $border) {
  .#{$name} {
    .body-cover {
      background: $body-background-color;

      @media #{media.$mobile-only} {
        background: $wrapper-mobile-background-color;
      }
    }

    .wrapper {
      background: $wrapper-background-color;
      color: $wrapper-color;

      @media #{media.$mobile-only} {
        background: $wrapper-mobile-background-color;
      }

      a {
        color: $item-a-color;

        &:visited {
          color: $item-a-visited-color;
        }
      }

      #header {
        background: $header-background-color;
        border-bottom: $border;
      }

      .logo-inner {
        background: $logo-inner-color;
      }

      .nav {
        a {
          color: $secondary-link-color;

          @media #{media.$mobile-only} {
            color: $secondary-link-color;
          }
        }
      }

      #footer {
        border-top: $border;

        a {
          color: $secondary-link-color;
        }
      }

      .subtext,
      .subtext-palm,
      .subtext-laptop,
      .domain,
      .meta,
      .deleted-meta {
        color: $subtext-color;

        a {
          color: $secondary-link-color;
        }
      }

      .popup {
        background: $header-background-color;
      }

      .item-header {
        border-bottom: $border;

        @media #{media.$mobile-only} {
          background: $wrapper-mobile-background-color;
        }
      }

      .pollContent {
        .pollBar {
          background: $secondary-link-color;
        }
      }

      .loader {
        color: $secondary-link-color;
        background: $secondary-link-color;

        &:before,
        &:after {
          background: $secondary-link-color;
        }
      }

      .job-header {
        @media #{media.$mobile-only} {
          border-bottom: $border;
        }
      }

      .back-button {
        @media #{media.$mobile-only} {
          border-top: .3rem solid $secondary-link-color;
          border-right: .3rem solid $secondary-link-color;
        }
      }

      .error-section {
        .skull {
          .head {
            background-color: $secondary-link-color;

            &:before,
            &:after {
              background-color: $wrapper-background-color;

              @media #{media.$mobile-only} {
                background-color: $wrapper-mobile-background-color;
              }
            }

            .crack {
              background-color: $wrapper-background-color;

              @media #{media.$mobile-only} {
                background-color: $wrapper-mobile-background-color;
              }

              &:before {
                border-top: math.div(theme_variables.$skull-size, 8) solid $wrapper-background-color;

                @media #{media.$mobile-only} {
                  border-top: math.div(theme_variables.$skull-size, 8) solid $wrapper-mobile-background-color;
                }
              }
            }
          }

          .mouth {
            background-color: $secondary-link-color;

            &:before {
              background-color: $wrapper-background-color;

              @media #{media.$mobile-only} {
                background-color: $wrapper-mobile-background-color;
              }
            }
          }

          .teeth {
            background-color: $wrapper-background-color;

            @media #{media.$mobile-only} {
              background-color: $wrapper-mobile-background-color;
            }

            &:before,
            &:after {
              background-color: $wrapper-background-color;

              @media #{media.$mobile-only} {
                background-color: $wrapper-mobile-background-color;
              }
            }
          }
        }
      }

      .main-details {
        .name {
          color: $secondary-link-color;
        }

        .right {
          color: $secondary-link-color;
        }
      }
    }
  }
}

@include theme(default,
  theme_variables.$theme-day-body-background-color,
  theme_variables.$theme-day-wrapper-background-color,
  theme_variables.$theme-day-wrapper-mobile-background-color,
  theme_variables.$theme-day-text-color,
  theme_variables.$theme-day-text-color,
  theme_variables.$theme-day-subtext-color,
  theme_variables.$theme-day-header-background-color,
  theme_variables.$theme-day-subtext-color,
  theme_variables.$theme-day-secondary-color,
  theme_variables.$theme-day-logo-inner,
  theme_variables.$theme-day-border);

@include theme(night,
  theme_variables.$theme-night-body-background-color,
  theme_variables.$theme-night-wrapper-background-color,
  theme_variables.$theme-night-wrapper-mobile-background-color,
  theme_variables.$theme-night-text-color,
  theme_variables.$theme-night-text-color,
  theme_variables.$theme-night-subtext-color,
  theme_variables.$theme-night-header-background-color,
  theme_variables.$theme-night-subtext-color,
  theme_variables.$theme-night-secondary-color,
  theme_variables.$theme-night-logo-inner,
  theme_variables.$theme-night-border);

@include theme(amoledblack,
  theme_variables.$theme-amoledblack-body-background-color,
  theme_variables.$theme-amoledblack-body-background-color,
  theme_variables.$theme-amoledblack-body-background-color,
  theme_variables.$theme-amoledblack-text-color,
  theme_variables.$theme-amoledblack-text-color,
  color.adjust(theme_variables.$theme-amoledblack-text-color, $lightness: -33%),
  theme_variables.$theme-amoledblack-body-background-color,
  theme_variables.$theme-amoledblack-subtext-color,
  theme_variables.$theme-amoledblack-secondary-color,
  theme_variables.$theme-amoledblack-body-background-color,
  theme_variables.$theme-amoledblack-secondary-color);

/* ----------------------------------

  Include your new theme here as well as the settings component

---------------------------------- */